body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}
p {
    position: relative;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(63, 140, 228, 0.2);
    -webkit-text-stroke: 3px;
    animation: ani 3s linear infinite;
}
@keyframes ani
{
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
